body, html {

    height: 100%;
    width: 100%;

}

.container-fluid {

    height: 100%;
    width: 100%;

}

.carousel-publicaciones {

    width: auto;
    height: 100%;

}

.carousel-noticias {

    width: auto;
    height: 100%;

}

.carousel-indicators{

    margin-bottom: -1rem;

}

.carousel-inner {

    width: auto;
    height: 100%;

}

.divflex {

    display: flex;
    height: 100%;
    width: 100%;

}

.divflex > .soloimg {

    width: 100%;
    height: 70%;
    margin-top: 1%;

}

.soloimg > img {

    width: 100%;
    height: 85vh;
    margin-top: 1%;

}


.divflex > .txtimg {

    width: 35%;
    height: 100%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    vertical-align: auto;

}

.divflex > .img {

    margin-top: 1%;
    height: 50%;
    width: 65%;
    object-fit: contain;

}

.img > img {

    width: 100%;
    height: 100%;
    margin-top: 1%;

}

.divflex > .txt {

    width: 100%;
    height: 100%;
    margin-top: 1%;
    text-align: center;
    vertical-align: auto;

}

h3 {

    font-size: 50px;

}

@media (max-width: 990px) {

    .divflex {

        display: flex;
        flex-wrap: wrap;


    } 

    .divflex > .txtimg {

        width: 100%;
        height: 30%;
        margin-top: 1%;
        text-align: center;
        vertical-align: auto;
    
    }

    .divflex > .img {

        margin-top: 1%;
        height: 100%;
        width: 100%;
        object-fit: contain;
    
    }

    .img > img {

        width: 100%;
        height: 100%;
        margin-top: 1%;
    
    }


    .carousel-indicators{

        margin-bottom: -1rem;

    }

}